

.footer-outer{
    background-color: var(--dark-grey);
    width: 1449px;
    height: 675px;
    margin-top: 30px;
   
}

.footer-inner{
    padding: 165px;
    display: flex;
}

.footer-inner h1{
    font-size: 88px;
    letter-spacing: -2.5px;
}

.footer-inner p{
    font-size: 18px;
   line-height: 28px;
   font-weight: medium;
   width: 445px;
}